/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Colores */
:root {
  --primary-color: #6B00FF;
  --secondary-color: #F9B7FF;
  --text-color: #2E3A47;
  --background-color: #FFFFFF;
}

.landing-page {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to bottom right, var(--secondary-color), var(--primary-color));
  min-height: 100vh;
  color: var(--text-color);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.header img {
  max-width: 100%;
  height: auto;
}

.header h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 20px 0;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 2px 2px var(--primary-color);
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 1px 1px var(--primary-color);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 50px 0;
  background: linear-gradient(to bottom, var(--secondary-color), var(--primary-color));
}

.hero img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  background-color: var(--background-color);
}

.form-container h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  color: var(--text-color);
}

.form-control {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--background-color);
  border: 1px solid var(--text-color);
  border-radius: 5px;
  box-shadow: none;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #FFFFFF;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  box-shadow: none;
  transition: background-color 0.2s ease-in-out;
}

.btn:hover {
  background-color: var(--secondary-color);
  color: #FFFFFF;
}

